{% extends "jsonBase.html" %}
{% block method %}absenNoId{% endblock%}
{% block param %}{% endblock %}
{% block data %}
    {% if errorMsg %}
        "status": "failure",
        "errorMessage": "{{ errorMsg }}",
		{% if dataProcessingTime %}
        "lamaProsesData": {{ dataProcessingTime }},
        "lamaPembandinganGambar": {{ imgComparisonTime }},
        "banyakPegawai": {{ pegawaiSize }}
        {% else %}
        "lamaProsesData": 0,
        "lamaPembandinganGambar": 0,
        "banyakPegawai": 0
        {% endif %}
        
    {% else %}
        "status": "success",
        "id": "{{ data.idNumber }}",
        "nama": "{{ data.name }}",
        "operasi": "{{ data.status }}",
		"sisaWaktuKerja": "{{ data.sisaWaktuKerja }}",
        "waktu": "{{ data.time.strftime('%H:%M:%S') }}",
		"lamaProsesData": {{ data.dataProcessingTime }},
		"lamaPembandinganGambar": {{ data.imgComparisonTime }},
		"banyakPegawai": {{ data.pegawaiSize }}
    {% endif %}
{% endblock %}

